table {
    
    border-collapse:separate;
    overflow:scroll;
    max-width: 1500px;
    min-width: 600px;
    text-align: center;
    background-color: orangered;
    
    
}
tr, td, th {
    border: none; 
    line-height: 5em; 
}



h1{
 color:crimson;
}


